@charset "utf-8";
/************************************************************
　　　　　　　　　　　　　　フォーム　　　　　　　　　　　　　
************************************************************/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1.8em;
	letter-spacing: 0;
}
a img:hover, a:active, input[type="image"]:hover {
	filter: opacity(0.7);
	-webkit-filter: opacity(0.7);
	-moz-filter: opacity(0.7);
	-o-filter: opacity(0.7);
	-ms-filter: opacity(0.7);
}
p {
	color: #000;
}
h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}
input {
	vertical-align: central;
}
.txt-serif {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 'serif';
}
.txt-middle {
	font-size: 18px;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.txt-normal {
	font-weight: normal!important;
}
.txt-bold {
	font-weight: bold;
}
.txt-notice {
	font-size: 12px;
	line-height: 1.5em;
}
.margin-top10 {
	margin-top: 10px!important;
}
.margin-top20 {
	margin-top: 20px!important;
}
.margin-top30 {
	margin-top: 30px!important;
}
.margin-bottom10 {
	margin-bottom: 10px!important;
}
.wrap {
	width: 800px;
	margin: 0 auto 100px;
}
#mailform-en .wrap {
	width: 900px;
}
h1 {
	margin-top: 115px;
	margin-bottom: 30px;
}
table {
	border-collapse: separate;
	border-spacing: 15px;
	margin: 0 auto;
}
table th {
	font-weight: bold;
	width: 250px;
	text-align: left;
	background-color: #e0e1e1;
	padding: 5px 20px;
}
table thead th {
	text-align: center;
	font-size: 14px;
}
table th.white-bg {
	background-color: #fff;
}
table td {
	vertical-align: middle;
	width: 500px;
}
#mailform-en table td {
	width: 600px;
}
#step2 table td {
	background-color: #f3f4f4;
	padding: 5px;
}
#step3 {
	text-align: center;
}
table td.txt-strong p {
	font-weight: bold;
	font-size: 15px;
}
table td input[type="text"] {
	border: 1px solid #999;
	height: 40px;
	width: 500px;
	padding: 0 10px;
	font-weight: normal!important;
	font-size: 14px!important;
}
textarea {
	border: 1px solid #999;
	height: 100px;
	width: 500px;
	padding: 0 10px;
	font-weight: normal!important;
	font-size: 14px!important;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border: 1px solid #999;
	background: transparent;
}
input[type="radio"] {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border: 1px solid #999;
	background: transparent;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
	background: #19283C;
	opacity: 1;
}
.form-short {
	width: 200px!important;
}
#mailform-en .form-short {
	width: 250px!important;
}
.form-table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
}
.button {
	text-align: center;
	margin-top: 45px;
}
.button a+input {
	margin-left: 50px;
}
ul {
	list-style: none;
}
.bankinfo {
	height: 40px;
	background-color: #999;
	color: #fff;
}
#complete {
	width: 800px;
	text-align: center;
}
#complete h2 {
	font-size: 24px;
	color: #0071bc;
	font-weight: bold;
	margin-top: 40px;
}
#complete p {
	margin-top: 40px;
	line-hight: 2.5em;
	font-weight: bold;
	font-size: 16px;
}
#mailform-en #complete p {
	font-size: 22px;
	line-height: 1.65em;
	color: #0071bc;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 50px;
}
#complete address {
	font-style: normal;
	padding: 20px 115px 30px;
	margin: 0 auto;
	border: 1px solid #666;
	margin-top: 40px;
	width: 300px;
	text-align: left;
}
#mailform-en #complete address {
	padding: 20px 40px 30px;
	width: 380px;
	text-align: left;
}
#pagetop {
	position: fixed;
	bottom: 50px;
	right: 50px;
}
footer {
	background-color: #b3b3b3;
	color: #fff;
	text-align: center;
	padding: 12px;
	font-size: 14px;
}
