@charset "utf-8";
/************************************************************
　　　　　　　　　　　　　　COMMON　　　　　　　　　　　　　
************************************************************/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1.8em;
	letter-spacing: 0;
}
a img:hover, a:active, input[type="image"]:hover {
 filter:alpha(opacity=70)  -webkit-filter: opacity(0.7);
	-moz-filter: opacity(0.7);
	-o-filter: opacity(0.7);
	-ms-filter: opacity(0.7);
	opacity: 0.7;
}
p {
	color: #000;
}
h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
}
input {
	vertical-align: middle;
}
.txt-serif {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 'serif';
}
.txt-middle {
	font-size: 18px;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.txt-normal {
	font-weight: normal!important;
}
.txt-bold {
	font-weight: bold;
}
.margin-top10 {
	margin-top: 10px;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
/************************************************************
　　　　　　　　　　　　　HEADER　　　　　　　　　　　　　
************************************************************/


header .normal-header {
	height: 126px;
	background-color: #fff;
	z-index: 999;
}
header #header-logo {
	width: 174px;
	float: left;
	margin-top: 20px;
	margin-left: 98px;
}
header #gnav {
	width: 800px;
	float: right;
	text-align: right;
	margin-top: 65px;
	margin-right: 104px;
}
header #gnav li {
	display: inline-block;
	margin-left: 33px;
}
.fixed {
	position: fixed;
	top: 0;
	width: 1200px;
	margin: 0 auto;
	height: 90px!important;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	opacity: 0.95;
}
header .fixed #header-logo {
	margin-top: 20px;
	margin-left: 98px!important;
}
header .fixed #header-logo img {
	width: 100px;
	height: auto;
}
header .fixed #gnav {
	margin-top: 40px!important;
}
#slider {
	height: 530px;
	background-color: #0071bc;
}
/************************************************************
　　　　　　　　　　　　　ACTIVITIES　　　　　　　　　　　　　
************************************************************/

#active {
	background-color: #f6f6f6;
	padding: 80px 100px;
}
#active .photo .col {
	width: 445px;
	display: inline-block;
	margin-bottom: 45px;
}
#active .photo .col:nth-child(odd) {
	margin-right: 108px;
}
#active .photo .col p {
	line-height: 16px;
	margin-top: 8px;
}
#events-archive {
	text-align: right;
	margin-top: 20px;
	font-size: 18px;
}

#events-archive a {
	text-decoration: none;
}

#events-archive a span {
	font-size: 26px;
	padding-left: 5px;
}

#archive h1 {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

#archive h2 {
	margin-bottom: 10px;
}

#archive .picts {
	text-align: left;
	margin-bottom: 30px;
}

#archive .picts img {
	width: 125px;
	height: 94px;
	vertical-align: top;
	float: left;
	margin: 0 10px 10px 0;
}

#archive .cont-wrap {
	width: 675px;
	margin: 0 auto 30px;
}

#btn-close {
	text-align: center;
}

#archive .lb-data .lb-number {
  display: none!important;
}

#archive .lb-outerContainer {
  width: 900px!important;
  margin: 0 auto!important;
  background: none!important;
}

#archive .lb-container {
  width: 100%!important;
}

#archive .lb-container img {
  margin: 0 auto!important;
  padding-right: 10px;
}

#archive .lb-nav a.lb-prev, #archive .lb-nav a.lb-next {
  opacity: 1.0!important;
}

#archive .lb-nav a.lb-prev {
  width: 50%!important;
}


#archive .lb-nav a.lb-next {
  width: 50%!important;
}

#archive .lb-data .lb-details {
	text-align: center!important;
	margin: 10px 0 0 60px!important;
}

/************************************************************
　　　　　　　　　　　　　PAST EVENTS　　　　　　　　　　　　　
************************************************************/


#past-event {
	margin: 45px 100px;
	background-color: #fff;
}
#past-event .past-event-wrap {
	background-color: #fff;
	border: 1px solid #ccc;
	background-image: url(../images/past-event1-bg.png), url(../images/past-event2-bg.png), url(../images/past-event4-bg.png), url(../images/past-event3-bg.png);
	background-position: left top, right top, right bottom, left bottom;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	padding: 55px 0 35px;
	position: relative;
}
#past-event h2, #past-event .past-photo {
	float: left;
	margin: 0;
	padding: 0;
}
#past-event h2 {
	width: 290px;
	text-align: center;
	position: absolute;
	top: 50%;
	height: 22px;
	margin-top: -10px;
}
#past-event h3 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 6px;
}
#past-event ul {
	list-style: none;
}
#past-event .past-photo {
	width: 670px;
	padding-left: 290px;
}
#past-event .past-photo .col {
	margin-bottom: 15px;
}
#past-event .past-photo .col li {
	display: inline-block;
	margin-right: 20px;
}
/************************************************************
　　　　　　　　　　　　　ABOUT US　　　　　　　　　　　　　
************************************************************/


#about {
	background: #ffcc66;
}
#about .cont-wrap {
	padding: 104px 150px 80px;
}
.pdf-link img {
	vertical-align: middle;
}
.pdf-link a {
	background: url(../images/pdficon_large.png) no-repeat left;
	padding: 10px 0 2px 40px;
	margin-left: 10px;
	color: #000;
}
#about h2 {
	margin-top: 60px;
	margin-bottom: 20px;
}
#about .pdf-link {
	margin-top: 30px;
}
#purpose {
	padding-left: 100px;
	border-top: 1px solid #fff;
	margin-top: 0px;
	padding-top: 80px;
	padding-bottom: 120px;
	background: #ffcc66 url(../images/about-bg.png) bottom no-repeat;
}
#purpose .cont-wrap {
	background-color: #ffdb93;
	padding: 0;
	width: 999px;
}
#purpose-title {
	background-color: #ffdb93;
	width: 269px;
	height: 180px;
	padding: 32px;
	float: left;
	font-size: 0;
	display: inline-block;
}
#purpose-title p {
	font-size: 14px;
	line-height: 1.4em;
	margin: 0 12px;
}
#purpose ol {
	list-style: none;
	background-color: #fff;
	font-size: 0;
	line-height: 0;
}
#purpose ol li {
	display: inline-block;
	height: 244px;
	font-size: 12px;
}
#vision {
	text-align: center;
	padding-top: 40px;
	background: #fff url(../images/vision-pict.jpg) bottom no-repeat;
	height: 490px;
	position: relative;
}
#vision p {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	line-height: 2.3em;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
	text-align: left;
	position: absolute;
	top: 220px;
	left: 715px;
	letter-spacing: 5px;
}
#mission {
	text-align: center;
	padding-top: 30px;
	background: #fff url(../images/mission-pict.jpg) bottom no-repeat;
	height: 505px;
	position: relative;
}
#mission p {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	line-height: 2.3em;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
	text-align: left;
	position: absolute;
	top: 220px;
	left: 715px;
	letter-spacing: 3px;
}
#thema {
	text-align: center;
	padding-top: 15px;
	background: #fff url(../images/5therma-pict.jpg) bottom no-repeat;
	height: 1355px;
	position: relative;
}
#thema-en {
	text-align: center;
	padding-top: 15px;
	background: #fff url(../images/5therma-pict-en.jpg) bottom no-repeat;
	height: 1355px;
	position: relative;
}
#thema h3 {
	margin-bottom: 20px;
}
#thema p {
	position: absolute;
	bottom: 240px;
	left: 580px;
	text-align: left;
	line-height: 35px;
	text-indent: 10px;
}
#thema p a {
	color: #fff;
}
/************************************************************
　　　　　　　　　　　　　OUTLINE　　　　　　　　　　　　　
************************************************************/

#outline {
	margin-top: 90px;
}
#outline .left-cont {
	width: 500px;
	float: left;
	border-right: 1px solid #cccccc;
	margin-left: 100px;
}
#outline .left-cont .txt-indent {
	padding-left: 4.75em;
	text-indent: -3.75em;
}
#outline .right-cont {
	width: 550px;
	float: left;
}
#outline .right-cont span {
	font-size: 12px;
}
#outline th {
	font-weight: bold;
	text-align: right;
	width: 100px;
}
#outline th, #outline td {
	font-size: 14px;
	line-height: 1.75em!important;
	padding: 5px 15px;
	vertical-align: top;
}
#yakkan {
	width: 750px;
	margin: 20px auto 0;
}
#yakkan div {
	width: 750px;
	height: 160px;
	padding: 5px;
	overflow-y: scroll;
	border: 1px solid #a4a899;
}
#yakkan p {
	line-height: 1.5em;
}
#outline .pdf-link {
	margin: 50px 0 100px;
}
/************************************************************
　　　　　　　　　　　　　HOW TO JOIN　　　　　　　　　　　　　
************************************************************/

#join {
	background-color: #0071bc;
	padding: 100px 0 70px;
}
#join h1 {
	margin-bottom: 20px;
}
#join .cont-wrap {
	width: 800px;
	margin: 0 auto;
}
#join #howto {
	color: #fff;
	border-collapse: separate;
	border-spacing: 0 20px;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: bold;
}
#join #howto th {
	font-size: 22px;
	border-right: 3px solid #fff;
	text-align: right;
	padding: 5px 25px 5px 5px;
	width: 160px;
	vertical-align: top;
}
#join #howto td {
	padding: 5px 5px 5px 25px;
	vertical-align: middle;
}
#join #fee {
	width: 370px;
	margin-bottom: 10px;
	font-weight: bold;
}
#join #fee th {
	font-size: 14px;
	font-weight: normal;
	border-right: none;
	text-align: left;
	width: 90px;
}
#join #fee td {
	text-align: right;
	letter-spacing: 5px;
}
#join #fee th, #join #fee td {
	border: 1px solid #FFF;
	padding: 5px 20px;
}
#join .button {
	text-align: center;
	margin-top: 30px;
}
#join .button a+a {
	margin-left: 50px;
}
/************************************************************
　　　　　　　　　　　　　CONTACT　　　　　　　　　　　　　
************************************************************/

#contact {
	background: url(../images/contact-bg.jpg) no-repeat top;
	padding: 240px 0 100px;
}
#contact h1 {
	margin-bottom: 30px;
}
#contact .cont-wrap {
	margin: 0 auto;
	width: 845px;
}
#contact table {
	border-collapse: separate;
	border-spacing: 15px;
}
#contact table th {
	font-weight: bold;
	width: 200px;
	text-align: left;
	background-color: #e0e1e1;
	padding: 10px 20px;
	height: 20px;
}
#contact table thead th {
	text-align: center;
	font-size: 14px;
}
#contact table th.white-bg {
	background-color: #fff;
}
#contact table td {
	vertical-align: middle;
	width: 550px;
}
#contact #step2 table td {
	background-color: #f3f4f4;
	padding: 5px;
}
#contact #step3 {
	text-align: center;
}
#contact table td.txt-strong p {
	font-weight: bold;
	font-size: 15px;
}
#contact table td input[type="text"] {
	border: 1px solid #999;
	height: 40px;
	width: 550px;
	padding: 0 10px;
	font-weight: normal!important;
	font-size: 14px!important;
}
#contact textarea {
	border: 1px solid #999;
	height: 100px;
	width: 550px;
	padding: 0 10px;
	font-weight: normal!important;
	font-size: 14px!important;
}
#contact table td input[type="checkbox"] {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border: 1px solid #999;
	background: transparent;
}
#contact table td input[type="checkbox"]:checked {
	background: #19283C;
	opacity: 1;
}
#contact .button {
	text-align: center;
	margin-top: 45px;
}
/************************************************************
　　　　　　　　　　　　　FOOTER　　　　　　　　　　　　　
************************************************************/

#pagetop {
	position: fixed;
	bottom: 50px;
	right: 50px;
}
footer {
	background-color: #b3b3b3;
	color: #fff;
	text-align: center;
	padding: 12px;
	font-size: 14px;
}
