﻿@charset "utf-8";
/*
Theme Name: introduction
Theme URI:
Description: オリジナルテーマ
Version: 1.02
Author: Takaya Kondo
Author URI: http://takayakondo.com/
Tags:
*/



#language-nav {
	text-align: right;
}

header .fixed #gnav {
    margin-top: 20px!important;
}

header .fixed #header-logo {margin: 0 0 0 98px !important;}
header #header-logo {margin: 0 0 0 98px !important;}

header #gnav {
    margin-top: 45px !important;;
}



#info {
	width: 810px;
	padding: 0 40px;
	margin: 0 auto 30px;
    border: 1px solid #333;
	box-sizing: border-box;
}
#info dl {
	overflow: hidden;
	margin-bottom: 20px;
}
#info dt {
	width: 140px;
	margin-right: 20px;
	float: left;
}
#info dd {
	width: 568px;
	float: left;
}

#info-en {
	width: 810px;
	padding: 0 40px;
	margin: 0 auto 30px;
    border: 1px solid #333;
	box-sizing: border-box;
}
#info-en dl {
	overflow: hidden;
	margin-bottom: 20px;
}
#info-en dt {
	font-size: 95%;
	width: 200px;
	margin-right: 20px;
	float: left;
}
#info-en dd {
	width: 508px;
	float: left;
}



#page {
    width: 1200px;
    margin: 50px auto;
}