@charset "utf-8";



*/

 * ここからフォーム部分のスタイル
 *
 *-------------------------------------------------------------*/
#contact_container {
/*
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	background-color: #FFF;
*/	
}
/* 必須マーク */
#contact_container .hissu {
	font-size: 90%;
	font-weight: normal;
	color: #F00;
}

#step1 {
}
#step2 {
	display: none;
}
#step3 {
}

#contact_container input, select, textarea {
/*
	padding: 5px;
	font-size: 100%;
*/
}
#contact_container textarea {
/*
	height: 100px;
	width: 80%;
*/
}


/* フォームを囲む枠部分 */
.f_title{
/*
  font-weight: bold;
  padding:5px;
*/
}
.f_val{
/*  padding:5px;
	border-bottom: 2px dotted #DDDDDD;
*/
}
/* フォームの説明部分 */
.fmemo{
  color: #999;
  font-size: 90%;
}

/* ボタンを囲む部分 */
#contact_container .formbutton {
	text-align: center;
	padding: 10px;
}

/* ボタンデザインを変えたい場合はここで変更 */
#contact_container .formbutton input {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-right: 25px;
	padding-left: 25px;
	cursor: pointer;
	font-size: 120%;
}
/* テキストフォームの説明文のスタイル */
#contact_container .info {
	font-size: 90%;
	color: #669;
}
   